# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/
./__pycache__/
./Components/__pycache__/
./coronavirus/__pycache__/
./fastapi_tutorial/__pycache__/
./pydandic_unti/__pycache__/
./venv
./.git
./.idea

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
